
<div class="col">
    <div class="card@(selectedCity.Equals(city,StringComparison.OrdinalIgnoreCase)? "border-primary":"")">
        <img src="@($"/images/{city}.png")" class="card-img-top" alt="...">         <!-- Uses static resources that must be placed in the wwwroot folder-->
        <!-- String interpolation is used with the $"{}" syntax; everything written inside the {} is not string-->
        <div class="card-body">
            <button type="button" class="btn btn-primary" @onclick="@( () => { SelectCity(city); })">@city</button>            <!-- the button is placed in a bootstrap card type display -->

        </div>
    </div>

</div>

 
@code {
    [Parameter]
    public string selectedCity { get; set; } = "Toronto";
    [Parameter]
    public string city { get; set; } = "";
    [Parameter]
    public EventCallback<string> SelectCityCallback { get; set; }

    private void SelectCity(string cityName)
    {
        SelectCityCallback.InvokeAsync(cityName);
    }
}
